@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap);* {
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
  color: #1b3c59;
}

.bg_blue {
  background: #1b3c59;
}

main {
  padding-top: 90px;
}

.row.section {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.17rem;
}

header #navbarContainer {
  background: #fff;
  z-index: 9999;
  width: 100%;
}

header .boolean__navbar {
  height: 90px;
  overflow: hidden;
  padding: 10px 0;
}

header .boolean__navbar__logo {
  height: 100%;
}

header .boolean__navbar__logo img {
  height: 100%;
}

header .boolean__navbar__items {
  justify-content: flex-end;
}

header .boolean__navbar__item {
  margin: 0 5px;
  padding: 0 20px;
  height: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

header .boolean__navbar__item.active {
  border-bottom: 2px solid #61ce4e;
}

header .boolean__navbar__item .nav-link {
  color: #1b3c59 !important;
}

header .boolean__navbar__cta {
  max-height: 40px;
  background: #61ce4e;
  margin: 0 0 0 40px;
  padding: 0 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

header .boolean__navbar__cta .nav-link {
  color: white !important;
}

.boolean__jumbo {
  padding: 80px 0;
}

.boolean__jumbo__cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boolean__jumbo__content__left {
  flex-basis: 52%;
}

.boolean__jumbo__content__left h1 {
  text-transform: uppercase;
}

.boolean__jumbo__content__left h1 strong {
  display: block;
  font-weight: 500;
}

.boolean__jumbo__content__left .jumbo-title {
  font-size: 58.5px;
  line-height: 1.1;
  font-weight: 300;
}

.boolean__jumbo__content__left .subtitle {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}

.boolean__jumbo__content__left p {
  margin-top: 40px;
  color: #1b3c59;
}

.boolean__jumbo__content__left .no-p-left {
  padding-left: 20px;
}

.boolean__jumbo__content__left .no-p-left .paragraph {
  font-size: 19px;
  font-weight: 300;
}

.boolean__jumbo__content__right {
  flex-basis: 48%;
  text-align: center;
}

.boolean__jumbo__content__right img {
  max-width: 90%;
  margin: 0 auto;
}

.boolean__data {
  padding: 40px 0;
}

.boolean__data__content {
  display: flex;
  justify-content: space-between;
}

.boolean__data__child {
  flex-basis: 280px;
  max-width: 280px;
  text-align: center;
}

.boolean__data__child h3 {
  color: #fff;
  font-size: 49.5px;
  font-weight: 400;
}

.boolean__data__child p {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
}

.boolean__companies {
  padding: 30px 0;
}

.boolean__companies h4 {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 19px;
}

.boolean__companies__center,
.boolean__companies__start {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boolean__companies__start {
  text-align: left;
}

.boolean__companies__start .boolean__companies__image {
  text-align: left;
}

.boolean__companies__image {
  flex-basis: calc(100% / 3);
}

.boolean__companies__image img {
  max-width: 250px;
}

.boolean__companies__center {
  text-align: right;
}

.boolean__companies__center .boolean__companies__image {
  text-align: right;
}

footer {
  padding: 70px 0 30px;
}

footer .footer__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
}

footer .footer__head__left img {
  width: 200px;
}

footer .footer__head__left__numbers {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
}

footer .footer__head__right ul {
  text-align: right;
  padding: 0;
}

footer .footer__head__right ul a {
  color: #fff;
  font-size: 20px;
}

footer .footer__bottom {
  text-align: center;
}

footer .footer__bottom__icons a i {
  color: #fff;
  margin: 30px 20px;
  font-size: 35px;
  transition: 0.3s;
}

footer .footer__bottom__icons a i:hover {
  color: #61ce4e;
}

footer .footer__bottom__text {
  color: #fff;
  font-size: 15px;
}

